section(title="Réunion de thèse")
    style.
        img {
            max-width: 80% !important;
            max-height: 100vh !important;
        }
        table, th, td {
            border: 2px solid;
        }

    h3(style="font-weight:200") 18/07/2024

    section(title="Ouverture par le jeu d'un violon")

        section(title="Point")
            ul
                li Sessions d'enregistrement le 10-11 et 18-19 septembre
                li 5-10 violonistes

        section(title="Protocole")

            a(href="https://docs.google.com/document/d/1DesjD5NAzoVnysS5x0K90T3u6iOeDp-aimXJX3Ign3I/edit") Lien vers le protocole

    section(title="Reconnaissance de violons par leur son")

        section(title="Influence de l'extrait joué")
            p Difficile de tirer des conclusions...

        section(title="Optimisation des hyperparamètres")
            ul
                li Fréquence d'échantillonage : $10 000 Hz$
                li Durée de chaque extrait : 60 secondes
                li Nombre de voisins : 60-70

        section(title="Nouveaux enregistrements : violons 4 et 5")

             table
                tr
                    th Method
                    th Feature
                    th Train (scales)
                    th Test (musical excerpts)
                tr
                    td K-NN
                    td MFCC
                    td 100%
                    td 100%