section(title='Individual Violin Sound Recognition')
    h2 Hugo Pauget Ballesteros
    h3 Claudia Fritz (d'Alembert) - Philippe Lalitte (IReMus)
    img(src="https://collegium-musicae.sorbonne-universite.fr/sites/default/files/media/2021-09/logo_collegiumMusicae.svg", alt="", width="200px")

    section(title='Problem')
        style.
            .reveal .pb .fragment {
                opacity: 1;
                visibility: inherit;
                background: transparent !imptortant;
                &amp;.visible {
                    background-color: var(--color);
                }
            }

        //- audio(controls src="/home/hugo/Thèse/Data/BilbaoViolins/Recordings_FreeCat/PLAYER12/cut_player12 violin6.wav")
        //- audio(controls src="/home/hugo/Thèse/Data/BilbaoViolins/Recordings_FreeCat/PLAYER16/cut_player16 violin6.wav")

        p.pb.fragment(data-fragment-index=0) #[b Goal :] #[span.fragment(data-fragment-index=1 style="--color: #b8c2fd") Identify] #[span.fragment(data-fragment-index=3 style="--color: #ffd5d6") the violin being played in a recording] #[span.fragment(data-fragment-index=5 style="--color: #e1f3db") based on other recordings]

        br 
        ul
            li.fragment(data-fragment-index=1) #[span(style="background: #b8c2fd") Identify] #[span.fragment(data-fragment-index=2) → Machine Learning algorithms]
            li.fragment(data-fragment-index=3) #[span(style="background: #ffd5d6") the violin being played in a recording] #[span.fragment(data-fragment-index=4) → audio features]
            li.fragment(data-fragment-index=5) #[span(style="background: #e1f3db") based on other recordings] #[span.fragment(data-fragment-index=6) → dataset]

    section(title='Dataset')
        include ../figures/class_weights.svg
        //- img(src="../figures/class_weights.png", alt="", srcset="")

    section(title='Features')
        section(title='LTAS')
            include ../figures/ltas.svg
        
        section(title="LTCC")
            img(src="../figures/ltcc.png", alt="", srcset="" width="60%")

        section(title="MFCC")
            img(src="../figures/mfcc.png", alt="", srcset="" width="60%")

    section(title='Classification by Machine Learning : K-NN')
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/KnnClassification.svg/1280px-KnnClassification.svg.png", alt="", srcset="", style="width:40%")

    section(title='Results')
        section

            table
                tr
                    th Method
                    th Feature
                    th Train (scales)
                    th Test (musical excerpts)
                tr
                    td(rowspan=4) K-NN
                    td LTAS
                    td 100%
                    td 37%

                tr
                    td LTCCs
                    td 100%
                    td 100%
                tr
                    td MFCCs
                    td 100%
                    td 100%

        section

            table
                tr
                    th Method
                    th Feature
                    th Train (players 1-10)
                    th Test (players 11-23)
                tr
                    td(rowspan=4) K-NN
                    td LTAS
                    td 100%
                    td 38%
                tr
                    td LTCCs
                    td 100%
                    td 76%
                tr
                    td MFCCs
                    td 100%
                    td 83%
        section 
            img(src="../figures/confusion.png", alt="", srcset="", style="width:40%")