section(title='Réunion de thèse')

    section(title='Article Forum Acusticum')

        p #[a(href='https://plmlatex.math.cnrs.fr/read/whyvmjhmhdhj') Lien vers l'article]

        ul
            li Structure ?
            li Résultats
            li Conclusions

    section(title='Expérience CNSM : le retour')

        ul
            li 7 et 14 mai
            li #[a(href='https://framadate.org/wZol3V3cC9aZHVj2') Lien vers le formulaire]
            li Contenus ?

    section(title='Vincent')

    section(title='Histogramme des distances')

        //- section(title='MFCC')

        //- section(title='Scattering Transform')

    section(title='Isomap et KNN')